# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Streamlit
.streamlit/secrets.toml

# Data (optionnel — décommentez si vous ne voulez pas committer les données)
# *.csv
# *.xlsx

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
